<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @home.city %>
</p>

<p>
  <strong>User:</strong>
  <%= @home.user_id %>
</p>

<%= link_to 'Edit', edit_home_path(@home) %> |
<%= link_to 'Back', homes_path %>
