<p id="notice"><%= notice %></p>

<h1>Listing Books</h1>

<table id="books",  data-source="<%= books_url(format: "json")%>" >
  <thead>
    <tr>
      <th>Book</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
