<%= form_for(@post, :html => { :multipart => true } ) do |f| %>
   <div class="field">
     <%= f.label :title %><br>
     <%= f.text_field :title %>
   </div>

  <%= f.fields_for :post_attachments do |p| %>
    <div class="field">
      <%= p.label :File %><br>
      <%= p.file_field :avatar, :multiple => true, name: "post_attachments[avatar][]" %>
    </div>
  <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

