<% provide(:title,"About") %>


<h1>About</h1>
<p>
	the<a href = "http://www.starsports.com">sports news is a link to sports upadate</a>
	It si]htre best app rreo def to hte sysyemxm
        <a href="http://www.installrails.com">can install rails now!1</a>
</p>

