<h1>ADd AcCouNt</h1>
<%= form_for @payment do |f| %>
  <%= f.label :USER_ID %> <br />
  <%= f.text_field :email %><br />
  <%= f.label :Password %><br />
  <%= f.password_field :password %><br />
  <%= f.submit  'SAVE' %>
<% end %>
