<h1><%= link_to 'Add drink' , new_drink_path %></h1>

<%= @drink.each do |drink| %>
<p>
Name: <%= link_to drink.name , drink_path(drink) %><br />
Size: <%= drink.size %><%=link_to 'edit', edit_drink_path(drink)%><br />
<%= link_to 'delete', drink, method: :delete  %>
</p>
<% end %>
<p><%= link_to "Log in", login_path%> 
<%= link_to 'Sign Up', new_user_path %></p>
