<p id="notice"><%= notice %></p>

<h1>Listing Shorts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shorts.each do |short| %>
      <tr>
        <td>URL: <%= short.name%></td>
        <td><%= link_to 'Show', short %></td>
        <td><%= link_to 'Edit', edit_short_path(short) %></td>
        <td><%= link_to 'Destroy', short, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Short', new_short_path %>
