<%= form_for(@short) do |f| %>
  <% if @short.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@short.errors.count, "error") %> prohibited this short from being saved:</h2>

      <ul>
      <% @short.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :long %><br>
    <%= f.text_field :long %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
