
<%= form_for @user do |f| %>
<%= f.label :name %><br />
<%= f.text_field :name %><br /><br /><br />
<%= f.label :email %><br />
<%= f.text_field :email %><br /><br /><br />
<%= f.label :password %><br />
<%= f.password_field :password %><br /><br />

<%= f.submit 'update' %>
<% end %>
