<%= @user.each do |user| %>
<p>
Name: <%= link_to user.name , user_path(user) %><br />
email: <%= user.email %><%=link_to 'edit', edit_user_path(user)%><br />
<%= link_to 'delete', user, method: :delete  %>


</p>
<% end %>
<%= link_to 'create account', new_user_path %>
<p><%= link_to "Log in", login_path%>
