<p id="notice"><%= notice %></p>

<h1>Listing Books</h1>

<%= form_tag books_path, :method => 'get', id: "books_search", remote: true  do %>
  <%= text_field_tag :search, params[:search] %>
  <div class="action"><%= submit_tag "search", :name => nil %></div>
<% end %>


<div id="books"><%= render 'books' %></div>


<br>

<%= link_to 'New Book', new_book_path, id: "new_link", remote: true  %>
