<div id="placeholder">    
    <div id="detailContainer" style="width: 680px;height:200px;margin-top:10px; text-align: left;"></div>        
    <div id="masterContainer" style="width: 680px;height:80px;margin-top:10px;"></div>    
</div>
    


