<h1>Log in</h1>
<%= form_for(:session, url: login_path) do |f| %>
<%= f.label :email %><br />
<%= f.text_field :email %><br /><br /><br />
<%= f.label :password %><br />
<%= f.password_field :password %><br /><br />
<%= f.submit "log in" %>
<% end %>
<p> New user ? <%= link_to "sign up now" , new_user_path %></p>


