<h1>Crop Image</h1>

<%= image_tag @painting.image_url(:large), id: "cropbox" %>

<h4>Preview</h4>
<div style="width:100px; height:100px; overflow:hidden">
  <%= image_tag @painting.image.url(:large), :id => "preview" %>
</div>


 <%= form_for @painting do |f| %>
  <% %w[x y w h].each do |attribute| %>
    <%= f.hidden_field "crop_#{attribute}" %>
 <% end %>
  <div class="actions">
    <%= f.submit "Crop" %>
  </div>
<% end %>
