<p id="notice"><%= notice %></p>
 <%= image_tag @painting.image_url(:thumb) if @painting.image? %>
<p>
  <strong>Name:</strong>
  <%= @painting.name %>
</p>

<%= link_to 'Edit', edit_painting_path(@painting) %> |
<%= link_to 'Back', paintings_path %>
