<p id="notice"><%= notice %></p>

<h1>Shopping Cart</h1>

<table id="cart" class="table table-striped">
  <tr>
    <th>Product</th>
    <th>Qty</th>
    <th class="price">Unit Price</th>
    <th class="price">Full Price</th>
  </tr>
  <% for line_item in @cart.line_items %>
    <tr class="<%= cycle :odd, :even %>">
      <td><%=h line_item.product.name %></td>
      <td class="qty"><%= line_item.quantity %></td>
      <td class="price"><%= number_to_currency(line_item.unit_price) %></td>
      <td class="price"><%= number_to_currency(line_item.full_price) %></td>
    </tr>
  <% end %>
  <tr>
    <td class="total price" colspan="4">
      Total: <%= number_to_currency @cart.total_price %>
    </td>
  </tr>
</table>
<!-- 
  if you have duplicate order id errors in testing mode.
  @cart.id can be replaced with a random number for testing rand(36**10).to_s(36) 

  Modify/Change below details as per your app.
-->
<% payment_form_for_payu 'gtKFFx', 'eCwWELxi',
      :txnid => rand(36**10).to_s(36),
      :amount => @cart.total_price,
      :productinfo => 'Book',
      :firstname => 'abc',
      :email => 'abc@example.com',
      :phone => '1234567890',
      :surl => 'http://localhost:3000/payu_callback',
      :furl => 'http://localhost:3000/payu_callback',
      :html => { :id => 'payment-form' } %>
